<html>
<head>

<link rel="stylesheet" type="text/css" href="/static/style/style_1.css"/>
<link rel="stylesheet" type="text/css" href="/static/style/font-awesome.min.css"/>
<!---Google stuff-->
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <meta name="google-signin-client_id" content="22051677189-1f55k773ct0qnlb5dkr83surcfk6565t.apps.googleusercontent.com">
	  <script src="https://apis.google.com/js/api:client.js"></script>

	<!--Google stuff-->
    <script src="/static/js/cookie-js.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
      <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   
	<!--Nav bar and side bar-->
	  <script src="/static/js/sidebar.js"></script>
    <link rel="stylesheet" href="/static/style/style-sidebar.css" />
    <link rel="stylesheet" href="/static/style/sidebar.css"/>
	    <link rel="stylesheet" href="/static/style/index.css"/>
	<!--Nav bar and side bar-->	
	
	<!--grid layout-->
   <script src="/static/js/brick-by-brick.js"></script>
   <link rel="stylesheet" href="/static/style/brick-by-brick.css" />
<!--grid layout-->

 <!--tabs-->
    <link href="/static/style/generic-notForTabs.css" rel="stylesheet" type="text/css" />
    <link href="/static/style/responsive-tabs.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/responsive-tabs.js" type="text/javascript"></script>
	<link rel="icon" href="/static/style/bee-icon-h50px.png">
  </head>
  <title>Campus Connect</title>
<style>
body{
 background-image:url("/static/style/background.png");
}
img {
    border-radius: 50%;
}
  if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/static/style/loading1.gif) center no-repeat #fff;
}
</style>
<script>
 $(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
$(document).on('ready',function(){
//for getting colleges


image=Cookies.get("imageURL");
 if(image!="undefined")
 $('img[src="/static/style/profile.png"]').attr('src', image);
 name1=Cookies.get("firstname");
 nameChar=name1.charAt(0).toUpperCase();
 name = name1.replace(name1.charAt(0),nameChar);

 
 $('#user-name').text(name);
 $('#user-name').css('font-weight','bold');
branch=[];
data={};
list=[];
  $.ajax({
  type:'GET',
  dataType: 'json',
  contentType: 'application/json',
  url: "https://uploadnotes-2016.appspot.com/_ah/api/notesapi/v1/collegeList",
  data: JSON.stringify(data),
  success: function (data) {
      console.log(data);
	  list=data.collegeList;
	  for(i=0;i<data.collegeList.length;i++)
	  {
	  $('<option value="'+data.collegeList[i].collegeId+'">'+data.collegeList[i].collegeName+'</option>').appendTo('#college');
		branch.push(data.collegeList[i].branchNames);
		
	  }
	  
	 }
	});
k=0;	
//change in college=>change in branch
$('#college').on('change',function(){
		for(i=0;i<list.length;i++)
		{
			if(this.value==list[i].collegeId)
			{   k++;
				$('#branch').empty();						 
					for(j=0;j<list[i].branchNames.length;j++)
					{
						 $('<option value="'+list[i].branchNames[j]+'">'+list[i].branchNames[j]+'</option>').appendTo('#branch');
					}
			}
		}

		});

});
</script>
<body>
<div class="se-pre-con"></div>
  <div class="wrapper" style="margin-top:-30px;">
    <div class="login">
      <p><b>Hi </b><span id="user-name"> <b>User</b></span><b>!</b> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  <!-- class="img-responsive"--><img src="/static/style/profile.png" id="profile" style="width:40%;height:20%"></p>
	  	  <form role="form" action = "/register_api" method ="post" >
		<b>Which College do you go To?</b>
		<br>
      <select id="college" type="text" value=""  name="college" placeholder="I'm in College/University" style="width:80%" required/>
	   <option value="college" style="color:#ccc">College</option>
	  </select>
	  <br>
	  <br>
	  <b>Which Batch are you in?</b><br>
      <select value=""  name="batch" placeholder="year" class="year" style="width:80%">
	  <option value="Year" style="color:#ccc">Year</option>
	  <option value= "2014">2014</option>
	  <option value= "2016">2016</option>
	  <option value="2017">2017</option>
	  <option value="2017">2018</option>
	  <option value="2017">2019</option>
	  <option value="2017">2020</option>
	  <option value="2017">2021</option>
	  </select>
	  <br>
	  <br>
	  <b>Which Branch are you in?</b><br>
	  <select value=""  name="branch" placeholder="Branch" id="branch" style="width:80%">
	  <option value="Branch" style="color:#ccc">Branch</option>
	  </select>
	  <br><br>
	  <b>Which Section are you in?</b><br>
	  <input type="text" value=""  name="section"  class="section" style="width:80%">
	  <br><br>
      <button id="submitBtn" type="submit" name="submit" style="background-color:#f7971d">Continue</button>
      <p id="error" style="color:red;display:none; ">*Enter valid branch and year</p>
    </div>
    </form>
  </div>
</body>
</html>